[alias]
    a = add --all
    ac = !git add -A && git commit -m
[color]
    ui = auto
[push]
    default = matching
[user]
	email = alexrbellon@gmail.com
	name = alex-bellon
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
