[alias]
    a = add --all
    ac = !git add -A && git commit -m
[color]
    ui = auto
[push]
    default = matching
[user]
    email = alexrbellon@gmail.com
    name = alex-bellon
[pull]
	rebase = false
