"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoConfirmSingleSuggestion: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "xml-formatter"
      "status-bar"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 20
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "889045ba-9475-4f88-97f9-5ca8f5d7da49"
  latex:
    buildOnSave: true
    opener: "pdf-view"
  "pdf-view":
    fitToWidthOnOpen: true
    nightMode: true
    paneToUseInSynctex: "right"
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
    ]
    knownWords: [
      "algeabraic"
      "leadsto"
      "mathbb"
      "textbf"
      "textit"
      "indices"
      "monic"
      "subring"
      "abelian"
      "frac"
      "coset"
      "cosets"
      "mathcal"
      "surjective"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
