"*":
  "atom-latex":
    clean_after_build: true
    hide_log_if_success: true
    preview_after_build: "Do nothing"
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoConfirmSingleSuggestion: false
    enableBuiltinProvider: false
    includeCompletionsFromAllBuffers: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
      "latex"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".obsidian"
      ".stfolder"
      ".gitignore"
    ]
    packagesWithKeymapsDisabled: [
      "maximize-active-pane"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Hack, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7e504487-6cd6-491b-baec-3a8f1c357659"
  latex:
    buildOnSave: true
    openResultInBackground: false
    opener: "zathura"
  "pdf-view":
    fitToWidthOnOpen: true
    nightMode: true
    paneToUseInSynctex: "right"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "algeabraic"
      "leadsto"
      "mathbb"
      "textbf"
      "textit"
      "indices"
      "monic"
      "subring"
      "abelian"
      "frac"
      "coset"
      "cosets"
      "mathcal"
      "surjective"
      "usepackage{fancyhdr"
      "usepackage"
      "documentclass"
      "ciphertexts"
      "ciphertext"
      "overline"
      "bigcap"
      "leqslant"
      "pseudorandom"
      "pacman"
      "exfiltrates"
      "SendMy"
      "repo"
      "cd"
      "mkdir"
      "sudo"
      "https"
      "gcc"
      "cmake"
      "html"
      "README.md"
      "README"
      "md"
      "github"
      "dev"
      "NUM"
      "uart"
      "ptr"
      "broadcasted"
      "AirTag"
      "app"
      "BT"
      "hotspots"
      "ACK"
      "GPS"
      "Heltec"
      "MobiCom"
      "Deian"
      "Chez"
      "metatype"
      "codebase"
      "Ghidra"
      "Aerosec"
      "plugin"
      "unhandled"
      "syscalls"
      "espressif"
      "IDF"
      "idf.py"
      "idf"
      "crypto"
      "Deian's"
      "malware"
      "ghidra"
      "ghidra"
      "ghidra"
      "CMU"
      "FMC"
      "Jython"
      "Varnode"
      "pCode"
      "qemu"
      "HALucinator"
      "qemuscript"
      "csv"
      "config"
      "gdb"
      "py"
      "rehosting"
      "java"
      "halucinator/halucinator"
      "proxychains"
      "API"
      "CDU"
      "FMCs"
      "Upgradability"
      "ACARS"
      "fmc"
      "png"
    ]
  "status-bar":
    fullWidth: false
    isVisible: false
  "toggle-gutter":
    showGutters: false
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
