'atom-workspace atom-text-editor:not([mini])':
  'cmd-shift-down': 'editor:add-selection-below'
  'cmd-shift-up': 'editor:add-selection-above'
  'cmd-h': 'atom-hide-tabs:toggle'

'atom-text-editor':
  'cmd-shift-M': 'markdown-preview:toggle'
