'.text.md':
  'bold':
    'prefix': 'b'
    'body': '**$1**'
  'checkbox':
    'prefix': 'chb'
    'body': '- [ ] $1'
  'codeblock':
    'prefix': 'cb'
    'body': '```\n$1\n```'
  'italics':
    'prefix': 'i'
    'body': '*$1*'
  'link':
    'prefix': 'l'
    'body': '[$1]($2)'
  'writeup':
    'prefix': 'writeup'
    'body': '# $1\n* **Event:** $2\n* **Problem Type:** $3\n* **Point Value / Difficulty:** $4\n* **(Optional) Tools Required / Used:**\n\n\n## Steps\n#### Step 1\n$5'


'.text.tex.latex':
  'alpha':
    'prefix': 'alpha'
    'body': '\\\\alpha'
  'alpha math':
    'prefix': 'alphamath'
    'body': '\$\\\\alpha\$'
  'beta':
    'prefix': 'beta'
    'body': '\\\\beta'
  'beta math':
    'prefix': 'betamath'
    'body': '\$\\\\beta\$'
  'bold':
    'prefix': 'b'
    'body': '\\\\textbf{$1}'
  'center':
    'prefix': 'center'
    'body': '\\\\begin{center}\$$1\$\\\\end{center}'
  'curly brackets':
    'prefix': 'cb'
    'body': '\\\\\{$1\\\\\}'
  'finite field':
    'prefix': 'ff'
    'body': '\\\\mathbb{F}_{$1}'
  'formula':
    'prefix': 'formula'
    'body': '\\\\[\n\t$1\n\\\\]'
  'inverse':
    'prefix': 'inv'
    'body': '^{-1}'
  'italic':
    'prefix': 'i'
    'body': '\\\\textit{$1}'
  'item bold':
    'prefix': 'ib'
    'body': '\\\\item \\\\textbf{$1}'
  'math':
    'prefix': 'm'
    'body': '\$$1\$'
  'mathcal':
    'prefix': 'mc'
    'body': '\\\\mathcal{$1}'
  'number group':
    'prefix': 'n'
    'body': '\$\\\\mathbb{$1}\$'
  'pi':
    'prefix': 'pi'
    'body': '\$\\\\pi\$'
  'Pi':
    'prefix': 'Pi'
    'body': '\$\\\\Pi\$'
  'phi':
    'prefix': 'phi'
    'body': '\$\\\\phi\$'
  'Phi':
    'prefix': 'Phi'
    'body': '\$\\\\Phi\$'
  'power':
    'prefix': 'power'
    'body': '^{$1}'
  'psi':
    'prefix': 'psi'
    'body': '\$\\\\psi\$'
  'Psi':
    'prefix': 'Psi'
    'body': '\$\\\\Psi\$'
  'problem':
    'prefix': 'p'
    'body': '\\\\item \\\\textbf{$1}\n\\\\begin{proof}\n\t\n\\\\end{proof}'
  'proof':
    'prefix': 'proof'
    'body': '\\\\begin{proof}\n\t$1\n\\\\end{proof}'
  'root':
    'prefix': 'root'
    'body': '\$\\\\sqrt[$1]{$2}\$'
  'set':
    'prefix': 's'
    'body': '\\\\{\$ $1 \\\\\mid $2 \\\\in \\\\mathbb{$3}\$\\\\}'
  'square root':
    'prefix': 'srt'
    'body': '\$\\\\sqrt{$1}\$'
  'varepsilon':
    'prefix': 'varepsilon'
    'body': '\\\\varepsilon'
  'varphi':
    'prefix': 'varphi'
    'body': '\\\\varphi'
  'x in':
    'prefix': 'xin'
    'body': '\$x \\\\in $1\$'

  'complex':
    'prefix': 'C'
    'body': '\\\\mathbb{C}'
  'natural':
    'prefix': 'N'
    'body': '\\\\mathbb{N}'
  'integers ':
    'prefix': 'Z'
    'body': '\\\\mathbb{Z}'
  'rational':
    'prefix': 'Q'
    'body': '\\\\mathbb{Q}'
  'real':
    'prefix': 'R'
    'body': '\\\\mathbb{R}'
