[Desktop Entry]
Name=Helium Notes
StartupWMClass=Atom
GenericName=Helium
Exec=/usr/bin/atom ~/GitHub/phd/helium/notes.md
Icon=org.gnome.gedit
Type=Application
StartupNotify=false
