urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
urxvt.internalBorder: 0
!font size
urxvt.font: xft:Hack:pixelsize=13

!larger history limit
urxvt.saveLines: 1000000

!open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1

!change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

URxvt.perl-ext-common: resize-font

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
